.nav-btn{
    background-color: rgb(153, 82, 82);
    color: white;
}

.nav-btn:hover{
    background-color: rgb(151, 50, 50);
    color: white;
}

.logo{
    width: 80px;
    height: 50px;
}

.carousel-item img{
    height: 80vh;
}

.products img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.products h1{
    font-weight: 300;
    font-size: 25px;
}

.products p{
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer li{
    list-style: none;
    margin: 10px 0;
}
.main-footer{
    background-color: brown;
    padding: 15px;
    color: white;
}

.fa{
    font-size: 24px;
}

.fa-instagram{
    color: rgb(197, 52, 15);
}
.first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-child img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.second-child h1{
    font-size: 24px;
    font-weight: 300;
    margin: 15px 0;
}

.second-child{
    margin-top: 25px;
}
.second-child p{
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
}

.contact-btn{
    background-color: brown;
    color: white;
    width: 150px;
    padding: 8px
}
.contact-btn:hover{
    background-color: rgb(114, 6, 6);
    color: white;
    width: 150px;
    padding: 8px
}

.login-first-child img{
    width: 100vh;
    height: 100vh;
}

.login-second-child{
    width: 500px;
    margin: 10px auto;
    margin-top: 50px;
}

.login-btn{
    background-color: brown;
    color: white;
    width: 150px;
    padding: 8px
}

.login-btn:hover{
    background-color: rgb(114, 6, 6);
    color: white;
    width: 150px;
    padding: 8px
}

.login-input{
    background-color: lightgray;
    border-radius: 20px;
    padding: 7px;
    margin: 20p 0px;
}

.login-heading{
    color: brown;
}

.login-icons{
    display: flex;
    justify-content: center;
}

.fa-google{
    color: red;
}

.login-icons .fa{
    font-size: 32px;
}